.chat-window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.chat-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-form input{
    height: 105px;
}

.chat-box {
    width: 500px;
    height: 100px;
    resize: none;
    border-radius: 0.5rem;
}

.chat-results {
    text-align: center;
}

.chat-results a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.chat-results a:hover {
    color: gray;
}